body {
  background-color: #a1e2ed;
}
.voting-page {
  height: 50em;
  position: relative
}
.voting-form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 5em;
}

.voting-form .ant-radio-wrapper {
  display: block;
  height: 30px;
  line-height: 30px;
};
